# Arquivos do Maven
target/
*.iml
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Arquivos do IntelliJ IDEA
*.ipr
*.iws
.idea/
out/

# Arquivos do Eclipse
*.metadata
*.classpath
*.project
.settings/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~.nib
*.orig

# Arquivos binários
bin/

# Arquivos de cache
*.cache
*.stackdump

# Arquivos gerados pelo Maven Wrapper
mvnw
mvnw.cmd
